[run]
source = apps
omit =
    */migrations/*
    */tests/*
    */__init__.py
    */admin.py
    */apps.py

[report]
exclude_lines =
    pragma: no cover
    def __str__
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError
    except ImportError:
    if settings.DEBUG
fail_under = 80
show_missing = True 