# Python
*.py[cod]
__pycache__/
*.so
.Python
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
bin/
var/
sdist/
develop-eggs/
.installed.cfg
lib/
lib64/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment variables
.env
.env.prod
.env.local

# Testing
.coverage
htmlcov/
.pytest_cache/
coverage.xml
.hypothesis/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Credentials and Keys
*.p8
*.pem
*.key
*.crt
/credentials/
/keys/ 
database.py